.container{
  background-color: blanchedalmond;
  max-width: 800px;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 1.5 rem;
}
body{
  background-color: blanchedalmond;
}
.left{
  flex-basis: 50%;
}
.right{
  flex-basis: 50%;
}
form{
  padding: 1rem;
}
h1{
  text-align: center;
}
form input[type="text"]{
  width: 100%;
  padding: 0.5rem 0.7 rem;
  margin: 0.5rem 0;
  outline: none; 
}
#zip{
  display: flex;
  margin-top: 0.5rem;
}
#zip select{
  padding: 0.5 rem 0.7rem;
}
#zip input[type="number"]{
  padding: 0.5 rem 0.7rem;
  margin-left: 5px;
}
 input[type="submit"]{
  width: 100%;
  padding: 0.7rem 1.5rem;
  color: beige;
  border: none;
  outline: none;
  margin-top: 1rem;
  cursor: pointer;
  background-color: rgb(205, 91, 220);
}
input[type="submit"]:hover{
  background: palevioletred;
}
@media only screen and(max-width:770px){
  .container{
    flex-direction: column;
  }
}